# Ignore operating system files
*.DS_Store
Thumbs.db

# Ignore build directories
/build/
/dist/

# Ignore dependency directories
/node_modules/
/vendor/

# Ignore log files
*.log

*.env
# Ignore configuration files with sensitive information
config.ini
secrets.json

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore temporary files
*.tmp
*.swp
.DS_Store
.DS_Store
data/.DS_Store
src/.DS_Store
src/rag/.DS_Store
.DS_Store
src/rag/__pycache__/athena_api_retriever.cpython-310.pyc
*.pyc
data/.DS_Store
src/.DS_Store
.DS_Store
